@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, sans-serif;
  font-family: "Chelsea Market", cursive;
}
a {
  text-decoration: none;
  color: #000;
}
h3 {
  margin-bottom: 20px;
}
#container {
  width: 840px;
  margin: 0 auto;
}

#nav {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 56px 0;
}

#nav-links {
  display: flex;
  list-style: none;
}
#nav-links li {
  margin: 0 16px;
}
#nav-links li a {
  color: blue;
}
#nav-links li a:hover {
  color: black;
}

#logout {
  color: blue;
  background: #fff;
  border: none;
  font-family: "Chelsea Market", cursive;
  cursor: pointer;
  font-size: 16px;
}
#logout:hover {
  color: black;
}

.red {
  color: #b90e0a;
}
